<html>
    <head>
            <link rel="stylesheet" type="text/css" href="./public/css/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <link rel="stylesheet" type="text/css" href="./css/homestyle.css">
            <style>
              body{
                background-image: url("./Images/home.jpg");
              }
              </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse ">

            <div class="container" >
             
                 
                
                  <div class="navbar-header">
                  <a href="/homepage" class="navbar-brand"> WORKSPACE</a>
                 
                  <!-- <img src="Images/workspace_logo.png" alt="logo" class="logo"> --> -->
                  </div>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ">
            <li ><a href="/CreateTeamPage">Create Team</a></li>
            <li ><a href="/requestpage">Send Requests</a></li>
            <li ><a href="#">Team Info</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
          
            <li ><a href="notifications">Notifications</a></li>
              <li ><a href="#">Logout</a></li>
        
            </ul>
                  </div>
        </div>
        </nav>
        
        <h1>This is create request page</h1>  
      
      
<!-- Form Section       -->
<div class="container" > 
		<div class="row"> 
		<div class="col-md-3"> 
					
		</div> 
				
		<div class="col-md-6 main"> 
					
			<form action="/request"  onsubmit="return validate()" method="post"> 
					
			<h3>Enter the user_id to send request </h3> 
              
      <input class="box" type="number" name="userid" id="userid"
			placeholder="UserId" required/><br> 
			
			<input type="submit" id="submitDetails"
            name="submitDetails" value="Send Request" required /><br> 
            <p></p>
					
			</form> 
					
		</div> 
				
				
		<div class="col-md-3"> 
		</div> 
				
	</div> 
  </div> 

    </body>
</html>