<form action="handle_request" method="POST">
<label><%= req  %></label>
<button type="submit" name="accept" onclick="form.action='/accept'">Accept</button>
<button type="submit" name="decliine" onclick="form.action='/decline'" >Decline</button>

</form>